$backdrop-background-color: rgba(0, 0, 0, .8);
$text-color: #fff;
$show-element-highlight: #fff;

%container {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999997;
}

.tutorial-container {
  @extend %container;
  position: absolute;
}

.tutorial-backdrop {
  @extend %container;
  background-color: $backdrop-background-color;
  position: fixed;
}

.tutorial-close {
  color: $text-color;
  cursor: pointer;
  font-size: 1.25em;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999999;
}

.tutorial-annotation {
  color: $text-color;
  position: absolute;
  z-index: 999998;

  .tutorial-annotation-text {
    margin: 0;
  }
}

.tutorial-show-element {
  border: 1px solid $show-element-highlight;
  position: relative;
  z-index: 999999;
}

.tutorial-show-element-background {
  background: $show-element-highlight;
}

.tutorial-panel-counter {
  bottom: 15px;
  color: $text-color;
  position: absolute;
  right: 15px;
}
