$border: 1px solid #ccc;
$shadow: 0 0 25px #333;

.tutorial-backdrop {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.tutorial-close {
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  position: absolute;
  right: 15px;
  top: 15px;

  &:hover {
    text-shadow: #f00 0 0 3px;
  }
}

.tutorial-message {
  background: #fff;
  border: $border;
  border-radius: 5px;
  box-shadow: $shadow;
  left: 50%;
  position: absolute;
  top: 30%;

  .tutorial-message-title {
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
  }

  .tutorial-message-text {
    padding: 10px;
  }

  .tutorial-message-next {
    float: right;
    margin: 5px;
  }
}

.tutorial-annotation {
  background-color: #fff;
  border: $border;
  border-radius: 5px;
  box-shadow: $shadow;
  padding: 10px;
  position: absolute;

  .tutorial-annotation-text {
    margin: 0;
  }
}
